    * {
    background-color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: 1250px;
    min-width: 355px;
}

.topbar {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.topbar>ul>li {
    display: inline-block;
    margin-left: 15px;
}

.topbar ul {
    line-height: 24px;
    padding: 16px 30px;
    display: flex;
    align-items: center;
}

a.top {}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

main {
    flex: 1 0 auto;
    width: 100vw;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.googllogo {
    margin-top: 135px;
    transition-duration: 0.5s;
}

#pic {
    width: 100%;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

form {}

#input {}

.searcbar {}

button {
    .buttons {}
    button:hover {}
    .offred {}
    footer {}
    .feet {
        ;
    }
    .pays {}
    .p2 {}
    footer li {}
    footer ul {}
    .footer-left li {}
    .footer-right {}
    a.bottom {}