.container {
    font-family: arial, sans-serif;
    background-color: #fff;
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 125px;
    margin: auto;
}

p {
    font-size: 10px;
}

.topbar {
    text-align: right;
    font-size: 15px;
    top: 0;
}

.googllogo {
    display: block;
    padding-top: 110px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a.top {
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    text-decoration: none;
}

a.bottom {
    color: #70757a;
    font-size: 10px;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    text-decoration: underline;
}

input {
    width: 400px;
    height: 30px;
    margin-bottom: 15px;
}

button {
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    margin: 10px;
    color: #757575;
    font-size: 10pt;
    font-weight: bold;
    border-radius: 2px;
}

.buttons {
    margin-bottom: 60px;
}

button:hover {
    color: #000;
    border: 1px #aaa;
}

.footer {
    bottom: 0;
    background-color: #f2f2f2;
    color: #757575;
    padding: 5px;
    position: fixed;
    width: 100%;
    left: -5px;
    font-size: 14px;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}